.about {
  padding: adaptiv-prop(350, 70) 0 adaptiv-prop(200, 70);
}

.about__container {
  @include container-fix;
}

.about__title {
  @include title;
}

.about__subtitle {
  @include subtitle;
}

.about__text {
  @include text;
}

.about__text--accent {
  @include text-accent;
}

.about__text--position-right {
  margin-left: auto;
}
.about__text--position-left {
  margin-right: auto;
}

.about__text--position-center {
  margin-left: auto;
  margin-right: auto;
}

.about__span {
  color: $danger;
}

.about__button {
  transition: .3s;
  color:$primary;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border: 1px solid $tertiary-900;
  width: 60%;
  padding: 1.5rem;
  font-size: 18px;
  text-transform: uppercase;
  font-family: serif;
  display: flex;
  text-align: center;
  
  &:hover {
    opacity: 0.7 ;
    background: $primary-600;
    color: $secondary;
  }
}