.preloader {
  position: fixed;
  background: $tertiary;
  top: 0;left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transform: translate(100%, -50%);
}

.preloader-top {
  position: fixed;
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  background: $primary;
  color: $secondary-400;
  z-index: 100;
  transform: scaleX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: adaptiv-prop(100, 40);
  font-weight: 600;
  text-transform: uppercase;
}

.preloader-bottom {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50vh;
  bottom: 0;
  left: 0;
  background:$secondary-200;
  transform: scaleX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: adaptiv-prop(100, 40);
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-600;
}