.page {
  width: 100vw;
  // height: calc(var(--vh) * 100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $secondary;
  color: $primary-400;
  overflow-y:scroll;
  overflow-x: hidden;
  font-family: Jost, 'Noto Sans Mono', serif;
}

.page__logo {
  position: fixed;
  top: 30px;
  left: 40px;
  height: 100px;
  width: 100px;
  z-index: $z-navigation;

  @media all and (max-width: 920px) {
    top: 10px;
    left: 10px;
    width: 40px;
    height: auto;
  }
}

.html-hidden {
  overflow: hidden;
}

.html {
    height: calc(var(--vh) * 100);
  overflow-x: hidden;
}