/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $tertiary $secondary ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: $secondary;
}

*::-webkit-scrollbar-thumb {
  background-color:  $tertiary;
  border-radius: 5px;
}