:root {
  --primary: #fff;
  --primary-300: #e3eeff;
  --primary-400: #ede3ff;
  --primary-600: #c6c6c6;
  --secondary: #000;
  --secondary-200: #292929;
  --secondary-400: #4a4962;
  --tertiary: #5b5b5b;
  --tertiary-300: #333;
  --tertiary-900: #978bae;
  --neutrel: #a0aaff;
  --danger: #c51339;
  --relax: #ffe3ea;
}