$primary: var(--primary);
$primary-300: var(--primary-300);
$primary-400: var(--primary-400);
$primary-600: var(--primary-600);
$secondary: var(--secondary);
$secondary-200: var(--secondary-200);
$secondary-400: var(--secondary-400);
$tertiary: var(--tertiary);
$tertiary-300: var(--tertiary-300);
$tertiary-900: var(--tertiary-900);
$neutrel: var(--neutrel);
$danger: var(--danger);
$relax: var(--relax);